* {
    box-sizing: border-box;
}

body {
    font: 16px 'Open Sans', Tahoma, sans-serif;
    color: #fff;
    background: url("../img/background.jpg") no-repeat center top;
    /*background-size: cover;*/
}

li {
    list-style: none;
    display: inline;
}

a {
    text-decoration: none;
}

.clearfix:after {
    content: '';
    clear: both;
    display: table;
}

.inner {
    max-width: 960px;
    margin: 0 auto;
}

/*HEADER*/

.main-head {
    padding: 70px 0 170px 0;
}

.nav {
    line-height: 48px;
}

.nav__logo {
    float: left;
    font: 48px/48px "League Gothic", Tahoma, sans-serif;
    text-transform: uppercase;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.nav__link {
    color: #fff;
}

.nav__link span{
    color: #3D2C45;
}

.menu {
    float: right;
}

.menu--footer {
    float: left;
    line-height: 20px;
}

.menu__item {
    margin-left: 50px;
}

.menu--footer__item {
    margin: 0;
    margin-right: 37px;
}


.menu__link {
    color: #fff;
    font: 24px 'League Gothic', Tahoma, sans-serif;
    text-transform: uppercase;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.menu__link--active,
.menu__link:hover {
    border-bottom: 2px solid #edbfff;
}

.menu--footer__link {
    font-size: 20px;
}

.slider {
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 168px;
    position: relative;
}

.slider:before,
.slider:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 30px;
    height: 42px;
    cursor: pointer;
}

.slider:before {
    left: 5%;
    background: url("../img/shevron-left.png") no-repeat center center;
}

.slider:after {
    right: 5%;
    background: url("../img/shevron-right.png") no-repeat center center;
}

.slider__block--left {
    float: left;
    width: 50%;
    margin-top: 80px;
}


.slider__title {
    font-family: 'League Gothic', Tahoma, sans-serif;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    font-size: 60px;
    color: #fefefe;
}

.slider__title--small {
    font-size: 32px;
    color: #edbfff;
    text-transform: uppercase;
}


.slider__text {
    font-size: 18px;
}

.slider__block--right {
    float: right;
    width: 50%
}

.points__block {
    text-align: center;
}

.points__link {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    margin-left: 3px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 50%;
}

.points__link--inverse {
    background-color: #fff;
    border: 1px solid #e8e8e8;
}

.points__link--active:before,
.points__link:hover:before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    left: 2px;
    top: 2px;
    background-color: #fff;
    background-image: linear-gradient(#fff, #d4d4d4);
    box-shadow: 0 0 5px rgba(0,0,0,0.8);
    border: 1px solid #fff;
    border-radius: 50%;
}

.points__link--inverse:before,
.points__link--inverse:hover:before {
    left: 1px;
    top: 1px;
    border: 1px solid #454545;
    background-color: #454545;
    background-image: linear-gradient(#6a6a6a, #454545);
    box-shadow: inset 0 1px 2px rgba(140,140,140,0.5);
}


/*MAIN*/

.about {
    padding: 70px 0;
    background-color: #553c60;
    background-image: linear-gradient(#745083, #322539);
}

.about__block {
    float: left;
    width: 30%;
    padding: 0 0 0 47px;
}

.about__block:not(:last-child) {
    margin-right: 5%;
}

.about__title {
    position: relative;
}

.about__title {
    font: 30px 'League Gothic';
    text-shadow: 1px 1px 0 #0f1518;
    text-transform: uppercase;
}

.about__title:hover {
    color: gray;
    cursor: pointer;
}

.about__title:before {
    content: '';
    width: 31px;
    height: 31px;
    position: absolute;
    left: -52px;
    top: 8px;
    background: url('../img/sprite.png');
}

.about__title:hover:before {
    background-position: 0 -31px;
}

.about__text {
    padding: 1em 0;
    text-shadow: 1px 1px 0 #0f1518;
}

.about__readmore-link {
    float: right;
    margin-right: 0.5em;
    color: #fff;
    font: 18px 'League Gothic';
    text-shadow: 1px 1px 0 #0f1518;
    text-transform: uppercase;
}

.about__readmore-link:hover {
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}

.info {
    padding-bottom: 70px;
    border-top: 1px solid #f9f9f9;
    border-bottom: 1px solid #e6e6e6;
    background-color: #f9f9f9;
}

.starts {
    float: left;
    width: 45%;
}

.starts__block {
    position: relative;
    margin: 25px;
    padding: 34px 35px 34px 38px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.starts__block:before {
    content: '';
    position: absolute;
    left: -23px;
    top: 26px;
    width: 49px;
    height: 49px;
    background: url("../img/user-photo.png") no-repeat center center;
    border-radius: 50%;
    box-shadow: inset 2px 2px 5px rgba(0,0,0,0.3),
                2px 2px 0 #fff;    
}

.starts__block:after {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 40px;
    bottom: -9px;
    background-color: #fff;
    /*box-shadow: 0 1px 2px rgba(0,0,0,0.05);*/
    transform: skewY(45deg);
}

.starts__title,
.updates__title {
    margin-bottom: 15px;
    font: 30px 'League Gothic';
    color: #454545;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px #fff;
}

.starts__title span {
    color: #edbfff;
}

.starts__text,
.updates__list {
    text-shadow: 1px 1px 0px #fff;
    color: #454545;
}

.updates {
    float: left;
    width: 55%;
    padding-left: 25px;
    padding-top: 59px;
}

.updates__list {
    margin-left: 65px;
}

.updates__item {
    position: relative;
}


.updates__item:before {
    content: '';
    position: absolute;
    left: -67px;
    top: -3px;
    width: 57px;
    height: 57px;
    background-image: url("../img/updates-bg.jpg");
    border-radius: 50%;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.4);
}

.updates__link {
    color: inherit;
    font-weight: bold;
}

.updates__posted {
    margin-bottom: 25px;
}

.updates__readmore {
    display: block;
    font: 18px 'League Gothic';
    color: #454545;
    text-transform: uppercase;
    text-align: right;
    text-shadow: 1px 1px 0px #fff;
}

.brands {
    border-top: 1px solid #fefefe;
    border-bottom: 1px solid #fefefe;
    background-color: #f9f9f9;
}

.brands__list {
    padding: 3% 9%;
}

.brands__item {
    float: left;
    width: 16%;
}


.recent {
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #fefefe;
    padding: 75px 0 75px 0;
    background-color: #ececec;
}

.recent__block {
    float: left;
    width: 33%;
    padding: 25px;
    text-shadow: 1px 1px 0px #fff;
}

.recent__title {
    margin-bottom: 0.5em;
    font: 30px 'League Gothic';
    color: #454545;
    text-transform: uppercase;
}

.recent__title span {
    color: #b9b9b9;
}

.recent__title--big {
    font-size: 48px;
}

.recent__copyright {
    margin-bottom: 15px;
    color: #c5c5c5;
    font: 16px Georgia, Arial, sans-serif;
    font-style: italic;
}

.recent__text {
    color: #787878;
}

/*FOOTER*/

.nav--bottom {
    float: left;
    font-size: 20px;
}

.main-footer {
    background: url("../img/bg-bottom.jpg") no-repeat center top;
    padding: 40px 0 50px 0;
}

.main-footer__designed {
    float: right;
}

.main-footer__designed strong {
    font-weight: bold;
}


/* RESPONSIVE */

@media (max-width: 768px) {

    .brands__list {
        padding: 3% 0;
    }

    .brands__item {
        width: 16.6%;
    }

}

@media (max-width: 480px) {

    .about__block {
        float: none;
        width: 100%;
    }

    .brands__item {
        width: 33%;
    }

}