body {
    font: 20px Impact, sans-serif;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px 0;
}

nav {
    background-color: #a64dff;
}

nav ul {
    width: 900px;
    margin: 0 auto;
}

nav ul li {
    padding: 10px 15px;
    float: left;
}

nav ul li:last-of-type {
    float: right;
}

li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

li:hover {
    background-color: #eee;
    color: #9f9fa0;
}

li:hover a {
    color: #9f9fa0;
}

