body {
	background-color: #efefef;
	font-size: 20px;
}

.wrapper {
	width: 513px;
	background-color: #fff;
	margin: 35px auto;
	box-shadow: 0 0 4px gray;
}

.main-content {
	padding: 48px;
}

.header-info {
	text-align: center;
}

.name {
	font-size: 24px;
	margin-top: 0;
}

.header-info img {
	width: 135px;
	border-radius: 8px;
}

section {
	border-top: 1px solid gray;
	padding-left: 15px;
}