.slider {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#33000000,endColorstr=#33000000);
    zoom: 1;
}

.about {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#745083', endColorstr='#322539');
}

.starts__block {
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000', Direction=90, Strength=2);
}


.starts__block:after {
    right: 40px;
    bottom: -18px;
    background: transparent url('../img/sprite3.png');
    background-position: -170px 0;
}

.play-btn {
    padding: 0;
    margin: 0;
    border: none;
}

.play-btn__link {
    width: 76px;
    height: 76px;
    background-image: url('../img/sprite3.png');
    background-position: 0 0;
}

.play-btn__link:hover {
    background-position: 0 -76px;
}


.play-btn__link:after {
    display: none;
}

.points__link {
    padding: 0;
    margin: 0;
    border: none;
    width: 17px;
    height: 17px;
    background-color: transparent;
    background-image: url('../img/sprite3.png');
    background-position: -76px 0;
}

.points__link--active,
.points__link:hover {
    background-position: -98px 0;
}

.points__link--active:before,
.points__link:hover:before {
    display: none;
}

.points__link--inverse {
    background-position: -76px -76px;
}

.points__link--inverse:before,
.points__link--inverse:hover:before {
    display: none;
}

.points__link--inverse.points__link--active, 
.points__link--inverse:hover {
    background-position: -98px -76px;
}

.updates__item:before {
    background-image: url("../img/sprite3.png");
    background-position: -116px -1px;
}